/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

/*svg {
display: flex;
  /*display:inline-block;*/
/*}*/
  /*display: block;*/
  /*font-size:0;*/
  /*margin-bottom:0px;*/
  /*margin-right:-150px;*/
  /*margin-left:0px;background-color:yellow;}*/
/*}*/
/*SVG {*/
  /*display:block;*/
  /*max-height: 100%;*/
/*}*/

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
